.triangle {
    width: 100%;
    padding-left: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    
    &:after {
        content: '';
        margin-left: -400px;
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        border-bottom-style: solid;
        position: absolute;
        left: 50%;
    }
    
    @include bp(no-triangle) {
        display: none;
    }
}

.triangle--white {
    &:after {
        border-bottom-color: #FFF;
    }   
}

.triangle--gray {
    &:after {
        border-bottom-color: $dark-gray;
    }   
}

.triangle--pink {
    &:after {
        border-bottom-color: $pink;
    }
}

.triangle--big {
    padding-bottom: 40px;
    
    &:after {
        border-bottom-width: 40px;
    }
}

.triangle--small {
    padding-bottom: 28px;
    
    &:after {
        border-bottom-width: 30px;
    }
}