.image-in-text {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 20px;
    padding-top: 20px;
    
    @include bp(stack) {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
}

.image-in-text--circle {
    border-radius: 50%;
}

.image-in-text--first-paragraph {
    padding-bottom: 20px;
    
    @include bp(stack) {
        padding-bottom: 0;
        margin-bottom: 20px;
    }
}

.image-in-text--small {
    width: 100%;
    max-width: 150px;
}