$pink: rgb(234, 10, 142);
$very-light-gray: #F5F5F5;
$light-gray: #DCDCDC;
$dark-gray: #333;

$bold-heading: source_sans_probold, Arial, Helvetica, sans-serif;
$regular-heading: source_sans_proregular, Arial, Helvetica, sans-serif;
$light-heading: source_sans_proregular, Arial, Helvetica, sans-serif;

$bold-body: encode_sansbold, Arial, Helvetica, sans-serif;
$regular-body: encode_sansregular, Arial, Helvetica, sans-serif;
$light-body: encode_sanslight, Arial, Helvetica, sans-serif;